
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Maintenance Management </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="btn btn-primary" (click)="addrecords()"> Create </button>&nbsp;
        <button type="button" class="btn btn-success"> Modify </button>&nbsp;
        <button type="button" class="btn btn-danger">Delete</button>&nbsp;
        <button type="button" class="btn btn-warning">Register</button>&nbsp;<!--&nbsp;&nbsp;&nbsp;&nbsp;-->
        <button type="button" routerLink="/callLog" class="btn btn-primary">Call Log</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container-fluid bg">
    <br>
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-12"></div>
        <div class="col-md-6 col-sm-8 col-xs-12">
            <h4>Contact Master</h4>
            <hr>
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="PrtyID">Party ID</label>
                            <input type="text" class="form-control" id="mpropid" placeholder="Enter Party ID">    
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prtyname">Party Name </label>
                    <input type="text" class="form-control" id="mpropname" placeholder="Party Name">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="mjobtitle">Job Title</label>
                        <input type="text" class="form-control" id="mcontact" placeholder="Job Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mcmobile">Mobile Number</label>
                        <input type="text" class="form-control" id="mcmobile" placeholder="Contact Mobile">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="mcemail">Email ID</label>
                        <input type="text" class="form-control" id="mcemail" placeholder="Emter Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mpobox">PO.BOX Number</label>
                        <input type="text" class="form-control" id="mpobox" placeholder="P O Box Number">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="maddress1">Address I</label>
                    <input type="text" class="form-control" id="maddress1" placeholder="Address">
                </div>
                <div class="form-group col-md-6">
                    <label for="maddress2">ADDRESS II</label>
                    <input type="text" class="form-control" id="maddress2" placeholder="Address ">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mfaxno">Fax Number</label>
                    <input type="text" class="form-control" id="mfaxno" placeholder="FAX">
                </div>
                <div class="form-group col-md-6">
                    <label for="mreference">Reference</label>
                    <input type="text" class="form-control" id="mreference" placeholder="Reference">
                </div>
            </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="mcity">City </label>
                        <input type="text" class="form-control" id="mcity" placeholder="City Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mcountry">Country</label>
                        <input type="text" class="form-control" id="mcountry" placeholder="KUWAIT">
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="mcustomerid">Customer ID </label>
                    <input type="text" class="form-control" id="mcustomerid" placeholder="Customer ID">
                </div>
                <button type="submit" class="btn btn-outline-success btn-lg btn-block">Submit</button>
                <button type="" class="btn btn-outline-danger btn-lg btn-block" routerLink="/locations">Cancel</button>
            </form>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-12"></div>
    </div>
</div>
<br>